:root {
    --primary: #1e73be;
    --white: white;
  }

.footer{
    background: var(--primary);
    color: white;
}

.nav-link {
    padding: 1rem 2rem;
}

li {
    list-style-type: none;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }