.seye-bot-graph-container {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem 0;
}

.prize-pool-header {
  font-family: GothamBold;
  color: var(--primarytext);
  font-size: 1rem;
}

.prize-pool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seye-bot-graph-container > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.seye-bot-graph {
  height: 450px;
  width: 640px;
}

.seye-bot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seye-bot-container {
  min-height: 600px;
  height: 100vh;
  position: relative;
  background-color: var(--primary);
  background-image: url(https://cosmos.network/_nuxt/img/b8c2ccf.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  overflow: hidden;
}

.seye-bot-container > div:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.seye-bot-container > div:last-child > a {
  cursor: pointer;
}

.seye-bot-wrapper > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  box-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 1rem;
  text-align: center;
  z-index: 1;
  background-color: var(--tertiery);
  padding: 0.5rem 1rem;
}

.seye-bot-wrapper > p {
  color: var(--black);
  font-family: GothamBold;
  max-width: 800px;
  padding: 0 2rem;
  z-index: 1;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.seye-logo {
  width: 100px;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.progress-bar {
  width: 150px;
  margin-bottom: 1rem;
  font-family: GothamBold;
}

.progress-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.hr {
  margin: 0 0 24px 0;
  width: 100%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.iframe-graph {
  width: 350px;
  height: 420px;
}

.progress-bar-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

.progress-bar-container > div > h1 {
  font-family: GothamBold;
  color: var(--white);
  font-size: 0.8rem;
  text-align: center;
}

.pulsar {
  stroke-dasharray: 281;
  animation: dash 5s infinite linear forwards;
}

.pulse-svg {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  bottom: 80px;
}

.orbit {
  position: absolute;
}

.seye-description-container {
  overflow: hidden;
  background-color: var(--black);
  padding: 2rem;
}

.seye-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.description-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.description-text-container > img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.description-text-container > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.description-text-container > p {
  color: var(--white);
  line-height: 30px;
  font-size: 0.8rem;
  text-align: justify;
}

.description-text-container > p > span {
  font-family: GothamBold;
}

.seye-guide-container {
  background-color: var(--primarytext);
  padding: 2rem;
}

.seye-guide-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.guide-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.guide-text-container > h1 {
  color: var(--primary);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.guide-text-container > p {
  color: var(--white);
  line-height: 30px;
  font-size: 0.8rem;
  text-align: justify;
}

.guide-text-container > p > span {
  font-family: GothamBold;
}

.guide-step-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  font-family: GothamBold;
  margin: 1rem;
}

.guide-step-wrapper {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--white);
  outline: none;
  border: none;
  color: var(--black);
  padding: 0rem;
  overflow: hidden;
}

.guide-step-wrapper > div {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  text-align: left;
}

.guide-step-wrapper > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--primary);
}

.guide-numbering > div {
  background-color: var(--primary);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.guide-collapse {
  background-color: var(--white);
  margin-top: 1rem;
  padding: 1rem;
  line-height: 30px;
  font-family: Gotham;
  font-size: 0.8rem;
}

.prize-pool {
  color: var(--primarytext);
  font-family: GothamBold;
  text-shadow: 4px 3px 3px rgba(206, 89, 55, 0.5);
  font-size: 4rem;
  text-align: center;
  display: flex;
}

.guide-collapse > span,
.guide-collapse > a {
  font-family: GothamBold;
}

.get-started {
  background-color: var(--tertiery);
  color: var(--white);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  font-size: 0.8rem;
  font-family: GothamBold;
  text-decoration: none;
}

.get-started:hover {
  color: var(--white);
  text-decoration: none;
}

.get-started-documentation {
  background-color: var(--black);
  color: var(--white);
  padding: 0.8rem 1.5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 0.8rem;
  font-family: GothamBold;
  text-decoration: none;
}

.get-started-documentation:hover {
  color: var(--white);
  text-decoration: none;
}

.seye-nfa-container {
  overflow: hidden;
  background-color: var(--black);
  padding: 2rem 2rem 2rem 2rem;
}

.seye-nfa-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.nfa-text-container {
  display: flex;
  flex-direction: column;
}

.nfa-text-container > h1 {
  color: var(--primarytext);
  font-family: GothamBold;
  font-size: 0.8rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.nfa-text-container > p {
  color: var(--primarytext);
  line-height: 20px;
  font-size: 0.5rem;
  text-align: justify;
  margin-bottom: 0;
}

.nfa-text-container > p > span {
  font-family: GothamBold;
}

.chevron-down {
  z-index: 5;
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: -800;
  }
}

@media (min-width: 1024px) {
  .description-text-container > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .nfa-text-container > h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .guide-text-container > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .seye-bot-container {
    background-attachment: fixed;
    grid-template-rows: 1fr 0.2fr;
  }
  .seye-bot-wrapper > h1 {
    font-size: 1.5rem;
  }
  .prize-pool {
    font-size: 6rem;
  }
  .prize-pool-header {
    font-size: 2rem;
  }
  .get-started-container {
    flex-direction: row;
  }
  .get-started {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: unset;
  }
  .description-text-container > p {
    font-size: 1rem;
    line-height: 30px;
  }
  .guide-text-container > p {
    font-size: 1rem;
    line-height: 30px;
  }
  .seye-logo {
    width: 150px;
  }
  .seye-bot-wrapper > p {
    font-size: 0.7rem;
  }
  .pulse-svg {
    bottom: 100px;
  }
  .progress-bar-container > div > h1 {
    font-size: 1rem;
  }
  .get-started {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .get-started-documentation {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
  }
  .guide-step-wrapper > div {
    font-size: 1rem;
  }
  .guide-collapse {
    font-size: 1rem;
  }
  .guide-numbering > div {
    width: 40px;
    height: 40px;
  }
  .nfa-text-container > p {
    font-size: 0.7rem;
    line-height: 30px;
  }
  .iframe-graph {
    width: 620px;
  }
}
