.footer-container {
  background-color: var(--purple);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--primarytext);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper>div {
  margin: .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.discord-icon {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}

.discord-icon:hover,
.discord-icon:focus {
  color: var(--primarytext);
}

@media (max-width: 576px) {
  .footer-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 319px) {
  .footer-text {
    font-size: 0.6rem;
  }
}
