.header-container {
  background-color: var(--purple);
  max-width: 1500px;
  height: 100px;
  display: flex;
  padding: 0 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 17;
}

.discord-icon {
  margin-top: 1rem;
  color: white;
}

.discord-icon:hover,
.discord-icon:focus {
  color: var(--primarytext);
}

.header-container-transparent {
  background-color: transparent;
  max-width: 1500px;
  position: absolute;
  justify-content: space-between;
  height: 100px;
  display: flex;
  padding: 0 3rem;
  width: 100%;
  align-items: center;
  z-index: 17;
  left: 0;
  right: 0;
  margin: auto;
}

.logo-z-index {
  z-index: 17;
}

.logo-container {
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.logo-container:focus,
.logo-container:hover {
  text-decoration: none;
  transform: scale(1.1);
  cursor: pointer;
}

.logo-container:active {
  transform: scale(1);
}

.logo-image-wrapper {
  width: 8rem;
  height: 4rem;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-image-black {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0);
}


.logo-name {
  margin-left: 10px;
  color: var(--white);
  text-decoration: none;
}

.logo-name:focus,
.logo-name:hover {
  color: var(--white);
  text-decoration: none;
}

.header-navigation {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.wallet-style {
  margin-top: 1rem;
  border-radius: 30px;
  max-width: 10rem;
}

.wallet-text {
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 27px 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 27px 1px rgba(255, 255, 255, 0.25);
  display: block;
  overflow: hidden;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  border: none;
  background-color: var(--white);
  color: var(--primary);
  text-overflow: ellipsis;
  text-align: center;
  align-self: center;
  font-family: GothamBold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.wallet-text-connected {
  font-size: 12px;
  display: block;
  overflow: hidden;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--primarytext);
  color: var(--primary);
  text-overflow: ellipsis;
  text-align: center;
  align-self: center;
  font-family: GothamBold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.menu-button-parent {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 12px;
  display: flex;
  position: relative;
  padding: 1rem 1.5rem;
  color: var(--white);
  text-align: center;
  align-self: center;
  font-family: Gotham;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menu-button-parent-mobile {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* padding: 1rem 1.5rem; */
  color: var(--white);
  text-align: center;
  align-self: center;
  font-family: Gotham;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100vw;
}

.menu-button-child {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 12px;
  display: block;
  position: relative;
  /* padding: .5rem 1.5rem; */
  color: var(--black);
  text-align: left;
  align-self: center;
  text-decoration: none;
  font-family: Gotham;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.menu-button-child:hover {
color: var(--primary);
background-color: white;
}

.wallet-text-disconnect {
  font-size: 12px;
  display: block;
  overflow: hidden;
  /* padding: 1rem 0rem; */
  border-radius: 30px;
  border: none;
  background-color: transparent;
  color: var(--primarytext);
  text-overflow: ellipsis;
  text-align: center;
  align-self: center;
  font-family: GothamBold;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.wallet-text:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--black);
  transform: scale(1);
}

.walletText:active {
  transform: scale(1);
}

.portfolio-text {
  font-size: 12px;
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  color: var(--primarytext);
  text-align: center;
  align-self: center;
  font-family: Gotham;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.portfolio-text-black {
  font-size: 12px;
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  color: var(--black);
  text-align: center;
  align-self: center;
  font-family: Gotham;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.portfolio-text:focus,
.portfolio-text:hover {
  text-decoration: none;
  color: var(--white);
}

.portfolio-text:focus > span,
.portfolio-text:hover > span,
.portfolio-text:visited > span {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

.portfolio-text-black:focus,
.portfolio-text-black:hover,
.menu-button-parent:focus,
.menu-button-parent:hover {
  text-decoration: none;
  color: var(--primarytext);
}

.portfolio-text-black:focus > span,
.portfolio-text-black:hover > span,
.portfolio-text-black:visited > span{
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}


.hamburger-menu {
  position: absolute !important;
  left: 0;
  margin-left: 2rem;
  display: flex;
  z-index: 17;
}

.mobile-sidebar {
  height: 100vh;
  width: 100vw;
  background-color: var(--purple);
  position: fixed;
  top: 0;
  z-index: 16;
  transition: opacity 0.2s ease-in-out;
  animation: background-fade 0.2s;
}

.mobile-sidebar-white {
  height: 100vh;
  width: 100vw;
  background-color: #D3D3D3;
  position: fixed;
  top: 0;
  z-index: 16;
  transition: opacity 0.2s ease-in-out;
  animation: background-fade 0.2s;
}

.mobile-sidebar-white > div > li > button {
  background-color: var(--black);
  color: var(--white);
}

.header-navigation-mobile {
  display: flex;
  list-style: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.beta-text {
  position: absolute;
  top: -5px;
  right: 1px;
  background-color: var(--primarytext);
  color: var(--primary);
  padding: 3px 5px;
  font-family: GothamBold;
  border-radius: 10px;
  font-size: 8px;
}

.disabled,
.disabled:hover,
.disabled:focus,
.disabled:active {
  filter: grayscale() !important;
  color: #b2b2b2 !important;
}

.disabled>.beta-text {
  background-color: #b2b2b2 !important;
}

@media (max-width: 768px) {
  .header-navigation {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .header-container-transparent {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .logo-image-wrapper {
    width: 7rem;
    height: 4rem;
  }
  .logo-name {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) {
  .header-navigation-mobile {
    display: none;
  }
  .discord-icon {
    color: white;
    margin-left: 1rem;
    margin-top: 0;
  }
  .discord-icon:hover,
.discord-icon:focus {
  color: var(--primarytext);
}
  .hamburger-menu {
    display: none;
  }
  .wallet-style {
    margin-left: 2rem;
    margin-top: 0;
  }
}


@keyframes background-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
